<!-- Home Slider Start -->

<!-- Home Slider End -->
<!-- Main Start -->
<main id="dc-main" class="dc-main dc-haslayout">
  <!-- OUR SPECIALIST START   -->
  <section class="dc-haslayout dc-main-section">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
          <div class="dc-sectionhead dc-text-center">
            <div class="dc-sectiontitle">
              <h2><span></span>Our Specialist<em></em></h2>
            </div>
          </div>
        </div>
        <div class="dc-articlesholder">
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #ebe5e5"
              >
                <img
                  src="assets/spec doctor img/spec doctor 1.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>2700+ Doctors</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-title">
                  <a href="javascript:void(0);" class="dc-articleby">Medical</a>
                  <h3><a href="javascript:void(0);">Doctors</a></h3>
                  <a href="javascript:void(0);" class="dc-btn">View All</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #89daff"
              >
                <img
                  src="assets/spec doctor img/spec doctor 2.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>2000+ Labs</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-articlecontent">
                  <div class="dc-title">
                    <a href="javascript:void(0);" class="dc-articleby"
                      >Medical</a
                    >
                    <h3><a href="javascript:void(0);">Pathology Labs</a></h3>
                    <a href="javascript:void(0);" class="dc-btn">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #ebe5e5"
              >
                <img
                  src="assets/spec doctor img/spec doctor 3.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>1200+ Medicines</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-articlecontent">
                  <div class="dc-title">
                    <a href="javascript:void(0);" class="dc-articleby"
                      >Medical</a
                    >
                    <h3><a href="javascript:void(0);">Radiology Labs</a></h3>
                    <a href="javascript:void(0);" class="dc-btn">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #ebe5e5"
              >
                <img
                  src="assets/spec doctor img/spec doctor 4.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>1200+ Medicines</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-title">
                  <a href="javascript:void(0);" class="dc-articleby">Medical</a>
                  <h3><a href="javascript:void(0);">Medicines</a></h3>
                  <a href="javascript:void(0);" class="dc-btn">View All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OUR SPECIALIST END  -->

  <!-- Our Rated Start -->
  <section class="dc-haslayout dc-main-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
          <div class="row">
            <div class="dc-ratedecontent dc-bgcolor">
              <!-- <figure class="dc-neurosurgeons-img">
										<img src="assets/frequent book lab test/doc-imgs/img-02.png" alt="img description">
									</figure> -->
              <div class="dc-sectionhead dc-sectionheadvtwo dc-text-center">
                <div class="dc-sectiontitle">
                  <h2>Frequently Book<span>Labs Test</span></h2>
                </div>
                <div class="dc-description">
                  <p>100+ Certified</p>
                  <p>1000+ Happy Customers</p>
                  <p>Free Sample Collection</p>
                  <p>Accurate Reports</p>
                </div>
              </div>
              <!-- <div class="dc-btnarea">
										<a href="javascript:void(0);" class="dc-btn">View All</a>
									</div> -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
          <div class="row">
            <div
              id="dc-docpostslider"
              class="dc-docpostslider owl-carousel owl-stage-outer"
            >
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <!-- <a href="javascript:void(0);" class="dc-like"><i class="fa fa-heart"></i></a> -->
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);">Throid Profile </a>
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 199 Onwards</h5>
                      <!-- <span><i class="ti-direction-alt"></i> Manchester, UK</span>
													<span><i class="ti-calendar"></i> <em class="dc-dayon">Mo</em>, Tu, We, Th, Fr, Sa</span> -->
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <!-- <a href="javascript:void(0);" class="dc-like"><i class="fa fa-heart"></i></a> -->
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Complete Blood Count(CBC)
                        </a>
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 299 Onwards</h5>
                      <!-- <span><i class="ti-direction-alt"></i> Manchester, UK</span>
													<span><i class="ti-calendar"></i> <em class="dc-dayon">Mo</em>, Tu, We, Th, Fr, Sa</span> -->
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <!-- <a href="javascript:void(0);" class="dc-like"><i class="fa fa-heart"></i></a> -->
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Covid-19 RTPCS (Coronavirus)</a
                        >
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 700 Onwards</h5>
                      <!-- <span><i class="ti-direction-alt"></i> Manchester, UK</span>
													<span><i class="ti-calendar"></i> <em class="dc-dayon">Mo</em>, Tu, We, Th, Fr, Sa</span> -->
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <!-- <a href="javascript:void(0);" class="dc-like"><i class="fa fa-heart"></i></a> -->
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);">Throid Profile </a>
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 199 Onwards</h5>
                      <!-- <span><i class="ti-direction-alt"></i> Manchester, UK</span>
													<span><i class="ti-calendar"></i> <em class="dc-dayon">Mo</em>, Tu, We, Th, Fr, Sa</span> -->
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <!-- <a href="javascript:void(0);" class="dc-like"><i class="fa fa-heart"></i></a> -->
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Complete Blood Count(CBC)</a
                        >
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 299 Onwards</h5>
                      <!-- <span><i class="ti-direction-alt"></i> Manchester, UK</span>
													<span><i class="ti-calendar"></i> <em class="dc-dayon">Mo</em>, Tu, We, Th, Fr, Sa</span> -->
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <!-- <a href="javascript:void(0);" class="dc-like"><i class="fa fa-heart"></i></a> -->
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Covid-19 RTPCS (Coronavirus)</a
                        >
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 700 Onwards</h5>
                      <!-- <span><i class="ti-direction-alt"></i> Manchester, UK</span>
													<span><i class="ti-calendar"></i> <em class="dc-dayon">Mo</em>, Tu, We, Th, Fr, Sa</span> -->
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Rated End -->
  <!--Skills Start-->
  <section class="dc-haslayaout dc-footeraboutus dc-bgcolor">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetskills">
            <div class="dc-fwidgettitle">
              <h3>Top Doctors by Speciality</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Allergy Specialist</a></li>
              <li><a href="javascript:void(0);">Andrologist</a></li>
              <li><a href="javascript:void(0);">Anesthetist</a></li>
              <li><a href="javascript:void(0);">Audiologist</a></li>
              <li><a href="javascript:void(0);">Dietitian/Nutritionist</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetskill">
            <div class="dc-fwidgettitle">
              <h3>Top Treatments in India</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Laproscopic Surgeon</a></li>
              <li>
                <a href="javascript:void(0);">Oral And Maxillofacial Surgeon</a>
              </li>
              <li><a href="javascript:void(0);">Orthopedic Surgeon</a></li>
              <li>
                <a href="javascript:void(0);">Pediatric Cardiac Surgeon</a>
              </li>
              <li>
                <a href="javascript:void(0);">Pediatric Orthopedic Surgeon</a>
              </li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-footercol dc-widgetcategories">
            <div class="dc-fwidgettitle">
              <h3>Top Hospitals in India</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Cosmetic Surgeon</a></li>
              <li><a href="javascript:void(0);">Eye Specialist</a></li>
              <li><a href="javascript:void(0);">Gastroenterologist</a></li>
              <li><a href="javascript:void(0);">General Physician</a></li>
              <li><a href="javascript:void(0);">General Practitioner</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetbylocation">
            <div class="dc-fwidgettitle">
              <h3>Best Hospitals for top Treatments</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Chennai</a></li>
              <li><a href="javascript:void(0);">Mumbai</a></li>
              <li><a href="javascript:void(0);">New Delhi</a></li>
              <li><a href="javascript:void(0);">Bangalore</a></li>
              <li><a href="javascript:void(0);">Vellore</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Skills Start End-->
</main>
<!-- Main End -->
