<!-- Main Start -->
<main id="dc-main" class="dc-main dc-haslayout">
  <!-- SLIDER SECTION  -->
  <div class="slider-section-container">
    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/banners/1.jpg"
              class="d-block w-100 banner-imgs"
              alt="banner 1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/banners/2.jpg"
              class="d-block w-100 banner-imgs"
              alt="banner 2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/banners/3.jpg"
              class="d-block w-100 banner-imgs"
              alt="banner 3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SLIDER SECTION END  -->
  <!-- OUR SPECIALIST START   -->
  <section class="dc-haslayout dc-main-section">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
          <div class="dc-sectionhead dc-text-center">
            <div class="dc-sectiontitle">
              <h2><span></span>Our Specialist<em></em></h2>
            </div>
          </div>
        </div>
        <div class="dc-articlesholder">
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #ebe5e5"
              >
                <img
                  src="assets/spec doctor img/spec doctor 1.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>2700+ Doctors</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-title">
                  <a href="javascript:void(0);" class="dc-articleby">Medical</a>
                  <h3><a href="javascript:void(0);">Doctors</a></h3>
                  <a href="javascript:void(0);" class="dc-btn">View All</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #89daff"
              >
                <img
                  src="assets/spec doctor img/spec doctor 2.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>2000+ Labs</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-articlecontent">
                  <div class="dc-title">
                    <a href="javascript:void(0);" class="dc-articleby"
                      >Medical</a
                    >
                    <h3><a href="javascript:void(0);">Pathology Labs</a></h3>
                    <a href="javascript:void(0);" class="dc-btn">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #ebe5e5"
              >
                <img
                  src="assets/spec doctor img/spec doctor 3.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>1200+ Medicines</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-articlecontent">
                  <div class="dc-title">
                    <a href="javascript:void(0);" class="dc-articleby"
                      >Medical</a
                    >
                    <h3><a href="javascript:void(0);">Radiology Labs</a></h3>
                    <a href="javascript:void(0);" class="dc-btn">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 float-left">
            <div class="dc-article">
              <figure
                class="dc-articleimg"
                style="background: none; border: 1px solid #ebe5e5"
              >
                <img
                  src="assets/spec doctor img/spec doctor 4.png"
                  alt="img description"
                  style="height: 200px"
                />
                <figcaption>
                  <div class="dc-articlesdocinfo">
                    <img
                      src="assets/spec doctor img/img-01.jpg"
                      alt="img description"
                    />
                    <span>1200+ Medicines</span>
                  </div>
                </figcaption>
              </figure>
              <div class="dc-articlecontent">
                <div class="dc-title">
                  <a href="javascript:void(0);" class="dc-articleby">Medical</a>
                  <h3><a href="javascript:void(0);">Medicines</a></h3>
                  <a href="javascript:void(0);" class="dc-btn">View All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OUR SPECIALIST END  -->

  <!-- Our Rated Start -->
  <section class="dc-haslayout dc-main-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
          <div class="row">
            <div class="dc-ratedecontent dc-bgcolor">
              <div class="dc-sectionhead dc-sectionheadvtwo dc-text-center">
                <div class="dc-sectiontitle">
                  <h2>Frequently Book<span>Labs Test</span></h2>
                </div>
                <div class="dc-description">
                  <p>100+ Certified</p>
                  <p>1000+ Happy Customers</p>
                  <p>Free Sample Collection</p>
                  <p>Accurate Reports</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
          <div class="row">
            <div
              id="dc-docpostslider"
              class="dc-docpostslider owl-carousel owl-stage-outer"
            >
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);">Throid Profile </a>
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 199 Onwards</h5>
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Complete Blood Count(CBC)
                        </a>
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 299 Onwards</h5>
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Covid-19 RTPCS (Coronavirus)</a
                        >
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 700 Onwards</h5>
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);">Throid Profile </a>
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 199 Onwards</h5>
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Complete Blood Count(CBC)</a
                        >
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 299 Onwards</h5>
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" style="border: 1px solid #f2f2f2">
                <div class="dc-docpostholder">
                  <figure class="dc-docpostimg" style="background: none">
                    <img
                      src="assets/frequent book lab test/lab_e.png"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-docpostcontent">
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Available at 1 Certified Lab Throid Profile (T3, T4,
                        TSH)</a
                      >
                      <h3>
                        <a href="javascript:void(0);"
                          >Covid-19 RTPCS (Coronavirus)</a
                        >
                        <i class="fa fa-award dc-awardtooltip"><em></em></i>
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em></em
                        ></i>
                      </h3>
                      <ul class="dc-docinfo">
                        <li>
                          <em>Includes 3 Tests </em>
                        </li>
                        <li>
                          <span class="dc-stars"><span></span></span
                          ><em>2100 Feedback</em>
                        </li>
                      </ul>
                    </div>
                    <div class="dc-doclocation">
                      <h5>&#8377; 700 Onwards</h5>
                      <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Rated End -->
  <section class="dc-haslayout dc-bgcolor" style="margin-block-end: 50px">
    <div class="container testimonial-inner">
      <div class="row d-flex justify-content-center">
        <div
          class="dc-sectiontitle"
          style="margin: 5px 0 17px; text-align: center"
        >
          <h2>What Our Customers <span>Have To Say</span></h2>
        </div>
        <div class="col-md-4 style-3">
          <div class="tour-item">
            <div class="tour-desc bg-white">
              <div class="tour-text color-grey-3 text-center">
                “ The app is really wonderful. Being a product manager myself, I
                would say that the user experience (UI/UX) of the app is top
                notch (easy to use, simple and convenient). Coming to services
                and delivery I would say Pharmeasy is doing a tremendous job
                even during this unprecedented pandemic situation”
              </div>
              <div class="d-flex justify-content-center pt-2 pb-2">
                <img
                  class="tm-people"
                  src="assets/what our customer section/left-quotes-sign.png"
                  alt=""
                />
              </div>
              <div class="link-name d-flex justify-content-center">
                Rajshri Sarkar
              </div>
              <div class="link-position d-flex justify-content-center">
                April 22, 2020
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 style-3">
          <div class="tour-item">
            <div class="tour-desc bg-white">
              <div class="tour-text color-grey-3 text-center">
                “ Best Service and app amongst all available. I have been using
                it for more than 3 years, and even during the pandemic, they
                have kept their standards high and are delivering the order
                within 24 Hours, Keep up the good work.”
              </div>
              <div class="d-flex justify-content-center pt-2 pb-2">
                <img
                  class="tm-people"
                  src="assets/what our customer section/left-quotes-sign.png"
                  alt=""
                />
              </div>
              <div class="link-name d-flex justify-content-center">
                Darpan Sharma
              </div>
              <div class="link-position d-flex justify-content-center">
                Dec 10, 2020
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 style-3">
          <div class="tour-item">
            <div class="tour-desc bg-white">
              <div class="tour-text color-grey-3 text-center">
                “This app is a game charger for me, I am unsets to go out always
                to buy medicinal products. Bookmyhealth gives me the last
                liberty to shop essential healthcare products from home. The app
                is very user friendly and me being an elderly person do not find
                any difficulty in using it. They deliver well in time thanks.”
              </div>
              <div class="d-flex justify-content-center pt-2 pb-2">
                <img
                  class="tm-people"
                  src="assets/what our customer section/left-quotes-sign.png"
                  alt=""
                />
              </div>
              <div class="link-name d-flex justify-content-center">
                Lipi Chaudhari
              </div>
              <div class="link-position d-flex justify-content-center">
                Feburary 25, 2021
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="dc-haslayout dc-main-section"
    style="padding: 50px; margin-bottom: 50px"
  >
    <!-- Coutner -->
    <div class="container" style="max-width: 1408px">
      <div class="row">
        <div class="col-md-3">
          <div class="card border-light shadow p-2">
            <img
              src="https://assets.pharmeasy.in/web-assets/dist/4d2f7c48.svg"
              style="width: 150px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h2 class="card-title">25 Million</h2>
              <h5 class="card-text">Registered Users as of Jun 30, 2021</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-light shadow p-2">
            <img
              src="https://assets.pharmeasy.in/web-assets/dist/92c372bb.svg"
              style="width: 150px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h2 class="card-title">8.8 Million</h2>
              <h5 class="card-text">Customers Order</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-light shadow p-2">
            <img
              src="https://img.freepik.com/free-vector/medical-video-call-consultation-illustration_88138-415.jpg?w=826"
              style="width: 150px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h2 class="card-title">50k +</h2>
              <h5 class="card-text">Docotors Registered <br />With Us</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-light shadow p-2">
            <img
              src="https://img.freepik.com/free-vector/blood-test-concept-illustration_114360-4774.jpg?w=740"
              style="width: 150px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h2 class="card-title">18k +</h2>
              <h5 class="card-text">Lag Registered <br />With Us</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Main End -->
