.login_container {
    background: #ffffff;
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 60px;
    .form {
      width: 320px;
      .logo {
        margin-bottom: 30px;
        img {
          max-width: 230px;
        }
        .logo_text {
          font-size: 18px;
          color: #a2a2a2;
          margin: 15px 0px 0px 0px;
          display: inline-block;
        }
      }
      .login_row {
        width: 100%;
        margin-bottom: 15px;
        font-size: 14px;
        color: #666666;
        .login_label {
          letter-spacing: 1px;
        }
        .form-control {
          font-size: 14px;
          padding-left: 10px;
          margin-top: 3px;
          outline: none !important;
        }
      }
      .loginotherRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: center;
        font-size: 14px;
        .remamberBlock {
          display: flex;
          justify-content: center;
          align-items: center;
          .rememberCheckbox {
            width: 16px;
            height: 14px;
            margin-right: 5px;
            cursor: pointer;
          }
        }
      }
      .forgotpassBlock {
        cursor: pointer;
        color: #dd0000;
        transition: 0.5s all;
        &:hover {
          text-decoration: underline;
        }
      }
      .loginregisRow {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 15px;
        font-size: 14px;
        .textGray {
          margin-right: 5px;
        }
      }
      .loginSubmitbtn {
        background-color: #ff9900;
        border-color: #ff9900;
        opacity: 0.9;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        &:hover {
          opacity: 1;
          background-color: #ea8f07;
          border-color: #e48b04;
        }
      }
    }
    .loginRightimg {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 85%;
    }
  }