<section class="login_container">
    <form>
        <div class="form">
            <div class="logo">
                <img alt="logo Amazon" src="./assets/images/logo-amazon.png" />
                <h3 class="logo_text">Please login to your account</h3>
            </div>
            <div class="login_row">
                <label class="login_label">Username</label>
                <input type="text" class="form-control" placeholder="Username" />
            </div>
            <div class="login_row">
                <label class="login_label">Password</label>
                <input type="password" class="form-control" placeholder="Password" />
            </div>
            <div class="login_row">
                <button class="btn loginSubmitbtn ml-0" routerLink="/demopage">Sign in</button>
            </div>
        </div>
        <img class='loginRightimg' src="./assets/images/svg/login-image.svg" />
        <div class="toast position-fixed bottom-0 text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Your authentication information is incorrect. Please try again.
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </form>
</section>